<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Opower Jobs</title>
  <subtitle>Latest Positions</subtitle>
  <link href="<%= url %>"/>
  <link rel="self" href="<%= url %>/atom.xml"/>
  <updated><%= jobs[0].date.toISOString() %></updated>
  <author>
    <name>Opower Recruting</name>
    <uri><%= url %></uri>
    <email>recruiting@opowerjobs.com</email>
  </author>
  <rights>Copyright (c) 2010, Opower</rights>
  <id>tag:opower.com,2010:jobs</id>
  <% jobs.forEach(function(job) { %>
  <entry>
    <title><%= job.title + ' ' + job.location %></title>
    <link href="<%= url %><%= job.urls.full_url %>"/>
    <id>tag:opowerjobs.com,2010:job_<%= job.id %></id>
    <updated><%= job.date.toISOString() %></updated>
    <content type="html">
        <%- partial('atom-content', { collection: [job], as: 'job'})
            .replace(/&/g, '&amp;')
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;')
        %>
    </content>
    <category term="<%= job.location %>" label="<%= job.location %>" scheme="<%= url %>"/>
    <category term="<%= job.urls.team %>" label="<%= job.team %>" scheme="<%= url %>"/>
  </entry>
    <% }); %>

</feed>




        