<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>OPOWER Jobs</title>
  <subtitle>Latest Positions</subtitle>
  <link href="<%= url %>"/>
  <link rel="self" href="<%= url %>/atom.xml"/>
  <updated><%= jobs[0].date.toISOString() %></updated>
  <author>
    <name>OPOWER Recruting</name>
    <uri><%= url %></uri>
    <email>recruiting@opowerjobs.com</email>
  </author>
  <rights>Copyright (c) 2010, OPOWER</rights>
  <id>tag:opower.com,2010:jobs</id>
  <% jobs.forEach(function(job) { %>
  <entry>
    <title><%= job.title %><%- job.location_id == Constants.LOCATIONS.sf.id ? ' (SF)' : '' %></title>
    <link href="<%= url %><%= job.urls.full_url %>"/>
    <id>tag:opowerjobs.com,2010:job_<%= job.id %></id>
    <updated><%= job.date.toISOString() %></updated>
    <content type="xhtml" xml:lang="en"><![CDATA[
        <div xmlns="http://www.w3.org/1999/xhtml">
            <%- job.description.replace(/&.?.?quo;/g, "'").replace(/&bull;/g, "*") %>
            <h2>Helpful Links</h2>
            <ul>
                <li><a href="<%= url %><%= job.urls.full_url %>">More Information.</a></li>
                <li><a href="<%= url %><%= job.urls.apply %>">Apply for this position.</a></li>
                <li><a href="<%= url %>">About OPOWER</a></li>
                <li><a href="<%= url %>/san-francisco">OPOWER Openings in San Francisco</a></li>
                <li><a href="<%= url %>/northern-va-dc">OPOWER Openings in Washington, DC</a></li>
            </ul>
        </div>]]>
    </content>
    <category term="<%= job.location %>" label="<%= job.location %>" scheme="<%= url %>"/>
    <category term="<%= job.urls.team %>" label="<%= job.team %>" scheme="<%= url %>"/>
  </entry>
    <% }); %>

</feed>




        