<% /*
    Navigation parent items.
    The logic for current/active page needs to be re-written.
*/ %>

<% if (!page.noMenu) { %>
<li class="here">
    
    <% if (page.children && page.children.length) { %>

        <a class="nav-listitem first-nav-listitem" href="#">
            <span class="left-bottom-nubwrapper bottom-nubwrapper nubwrapper">
                <span class="bottom-white-nub nub"></span>
            </span>

            <%= page.label %></a>

        <ul class="tertiary-nav">
            <%- partial('subnav', { collection: page.children, as: 'page'} ) %>
        </ul>

    <% } else { %>
        
        <a href="<%= href(page.url) %>" class="nav-listitem first-nav-listitem <%= page.id == currentPageID ? "here " : "" %>">
           <%= page.label %>
        </a>
        
    <% }%>
</li>
<% } %>
