<% /*
    Navigation parent items.
    The logic for current/active page needs to be re-written.
*/ %>

<% if (!page.noMenu) { %>
<li class="parent">
    
    <% if (page.children && page.children.length) { %>

        <div class="section-header"><%= page.label %></div>

        <ul class="subnavigation">
            <%- partial('subnav', { collection: page.children, as: 'page'} ) %>
        </ul>

    <% } else { %>
        
        <a href="<%= href(page.url) %>" class="<%= firstInCollection || page.id == currentPageID ? "rounded-tl" : "" %> <%= lastInCollection || page.id == currentPageID ? "rounded-bl" : "" %> <%= page.id == currentPageID ? "active " : "" %>">
           <%= page.label %>
        </a>
        
    <% }%>
</li>
<% } %>