<% /*
    Navigation sub-items which are actually selectable.
    The logic for current/active page needs to be re-written.
*/ %>
        
<li>
    <a href="<%= href(page.url) %>" class="<%= page.id == currentPageID ? "here-tertiary-nav-listitem " : "" %><%= firstInCollection ? "first-nav-listitem" : "" %><%= lastInCollection ? "" : "" %>">
        <%= page.label %>
    </a>
</li>
