<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OPOWER Jobs <%= locals.title ? '- ' + locals.title : '' %><%= locals.job ? '- ' + locals.job.title + ' (' + Constants.short(locals.job.location) + ')' : '' %><%= locals.location ? Constants.long(locals.location) : '' %><%= locals.team && locals.all_teams[locals.team]  ? '- ' +  locals.all_teams[locals.team] : '' %></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<%- partial('comment.ejs') %>    

    <link rel="alternate" type="application/atom+xml" title="OPOWER New Jobs Feed" href="http://opowerjobs.com/atom.xml" />

    <%- assets.styles(this.req.query) %>
</head>

<% locals.team && locals.all_teams[locals.team]  ? currentPageID = locals.team : '' %>

<body class="page-<%- currentPageID %>">
    <div class="clouds"></div>
    <div class="container">        
        <div class="span-6 first">
            <div class="sidebar">
                
                <a href="/" title="Careers at OPOWER">
                    <img class="logo" src="/css/theme/OPOWER-logo.png" alt="OPOWER" />
                </a>

                <div class="navigation">
                    
                    <ul class="nav-main rounded">
                    
                        <%- partial("navigation/nav", { collection: pages, as: "page", locals: { currentPageID: currentPageID }} ) %>
                        
                        <!--
                        <li class="parent">
                            <ul class="subnav">
                                <li><a href="http://www.opower.com" title="Go to the OPOWER corporate website" class="rounded">OPOWER.COM</a></li>
                            </ul>
                        </li>
                        -->
                        
                    </ul>
                    
                </div>

                <% if (this.req.url.indexOf('search') === -1) { %>
                    <%- partial('jobs/search', { locals: locals } ) %>
                <% } %>
                
                
            </div>
        </div>

        <div class="span-18 last">
            <div class="page">
                <%- body %>
                <div class="clear"></div>
            </div>
            <div class="footer">
                Looking for the corporate site? Check us out at <a href="http://www.opower.com" title="OPOWER.com">OPOWER.com!</a>
            </div>
        </div>

    </div>

   
    <%- assets.scripts(this.req.query) %>
    <% var gaq_events = sessionHandler(this.req) %>
    <% if (locals.production) { %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17897272-1']); //dylan
      _gaq.push(['_trackPageview']);<%- gaq_events %>
      _gaq.push(['_setAccount', 'UA-18439002-1']); //ogi
      _gaq.push(['_trackPageview']);<%- gaq_events %>
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <% } %>
</body>
</html>