<!DOCTYPE html>
<html>
<head>
    <title>OPOWER Jobs <%= locals.title ? ' - ' + locals.title : '' %><%= locals.job ? ' - ' + locals.job.title : '' %><%= locals.location && locals.all_locations[locals.location]  ? ' - ' + locals.all_locations[locals.location] : '' %><%= locals.department && locals.all_departments[locals.department]  ? ' - ' +  locals.all_departments[locals.department] : '' %></title>

<%- partial('comment.ejs') %>    

    <link href="/css/jqueryui/flick/jquery-ui-1.8.2.custom.css" rel="stylesheet"  type="text/css" />
<%- assets.styles() %>
</head>
<body class="page-<%- currentPageID %>">
    <div class="clouds"></div>

    <div class="container">
        <div class="span-6 first">
            <div class="sidebar">
                
                <a href="/" title="Careers at OPOWER">
                    <img class="logo" src="/css/theme/OPOWER-logo.png" alt="OPOWER" />
                </a>

                <div class="navigation">
                    
                    <ul class="nav-main rounded">
                    
                        <%- partial("navigation/nav", { collection: pages, as: "page", locals: { currentPageID: currentPageID }} ) %>
                        
                    </ul>
                    
                </div>

                <% if (!locals.page || (locals.page && page.url != 'search')) { %>
                    <%- partial('jobs/search', { locals: locals } ) %>
                <% } %>
                
            </div>
        </div>

        <div class="span-18 last">
            <div class="page">
                <%- body %>
                <div class="clear"></div>
            </div>
        </div>

    </div>
    <div class="grass"></div>
    <div class="powerlines"></div>

   
     <%- assets.scripts() %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17897272-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>