<div class="content">
<div class="span-17">
    <table class="log">
    <% log.history().forEach(function(item) { %>
    <tr>
        <td class="time"><%= log.ago(item.date) %></td>
        <td><span class="file"><%= item.file %></span></td>
        <td>
        <%
            item.messages.forEach(function(msg) {

                switch (typeof msg) {
                    case 'string':
                        if (msg.indexOf('http://') === 0) {
                %>
                        <a href="<%- msg %>"><%= msg %></a>
                <%
                        }
                        else {
                %>
                        <span class="string"><%- msg.replace(/\n/g, '<br/>') %></span>
                <%
                        }
                        break;
                    case 'number':
                %>
                        <span class="number"><%= msg %></span>
                <%
                        break;
                    case 'function':
                %>
                        <span class="function">[Function]</span>
                <%
                        break;
                default:
                    %>
                    <%- debug(msg) %>
                    <%
                    break;
                }
            });
        %>
        </td>
    </tr>
    <% }); %>
</table>
</div>
</div>
