<div class="job_nav">
<a href="/jobs">All jobs</a>
    - <a href="/jobs/<%= job.url.location %>"><%= job.location %></a>
    - <a href="/jobs/<%= job.url.location %>/<%= job.url.department %>"><%= job.category %></a> 
    - <%= job.title %>
</div>