<% /*
    For individual department pages
    http://localhost:3000/engineering
*/ %>

<div class="content page-department">

    <% /* department header */ %>
    <div class="span-18 first last">
        <h2><%= all_departments[department] %></h2>
        <div class="span-10 first">
            This is what we do.  Type type type.
            <div class=""><a href="/departments">Have you seen our other departments?</a></div>
        </div>
        <div class="span-7 last">
            <div class="department-placeholder"></div>
            <div class="caption">The <%= all_departments[department] %> department doing something unproductive.</div>
        </div>
    </div>

    <div class="clear" style="padding-top:40px;"></div>

    <% /* department jobs */ %>
    <div class="span-18 first last">
    <% if (jobs.locations['dc-northern-virgina']) { %>

        <div class="span-7 first">
            <a href="/dc-northern-virgina"><%- partial('jobs/icons/dc-northern-virgina') %></a>
        </div>

        <div class="span-10 last">
                <ul>
                    <%- partial('jobs/job', { collection: jobs.locations['dc-northern-virgina'][department], as: "job", locals: { }} ) %>
                </ul>
        </div>
    <% } %>

    <div class="clear" style="padding-top:40px;"></div>

    <% if (jobs.locations['san-francisco']) { %>
       <div class="span-7 first">
            <a href="/san-francisco"><%- partial('jobs/icons/san-francisco') %></a>
       </div>

        <div class="span-10 last">

            <ul>
                <%- partial('jobs/job', { collection: jobs.locations['san-francisco'][department], as: "job", locals: {  }} ) %>
            </ul>
        </div>
        <% }  %>
    </div>

</div>

