<% /*
    A single full job listing
    http://localhost:3000/dc-northern-virgina/business-development/proposal-writer
    http://localhost:3000/proposal-writer <- shortcut
    http://localhost:3000/jobviteID <- even shorter
*/ %>


<div class="job">


    <div class="content">
        <div class="span-17 first last">
            <div class="banner">
                <div class="title strong"><%= job.title %></div>
                <div class="location"><%= job.location %></div>
            </div>
        </div>

        <div class="span-17 first last">

            <div class="description">


                <div class="inline span-6 last rounded">
                    <strong>Is your resume ready?</strong>
                    <a class="apply-now button orange-button" href="<%= job.url.apply %>">Apply now</a>
                    This is the best way to start a conversation with us.
                </div>
                
                <h4>
                    <span class="highlight">
                    <%- job.description[0].title %>
                    </span>
                </h4>

                <%- job.description[0].p %>



                

                <% if (job.description[1]) { %>
                <h4>
                    <span class="highlight">
                    <%- job.description[1].title %>
                    </span>
                </h4>

                <%- job.description[1].p %>
                <% } %>


                <% if (job.description[2]) { %>
                <h4>
                    <span class="highlight">
                    <%- job.description[2].title %>
                    </span>
                </h4>
                <%- job.description[2].p %>
                <% } %>

            </div>

        </div>


        <div class="span-17 last flag clearfix">
            
            <div class="span-13">
                <h5>Find other jobs in &hellip;</h5>
                <a href="#" class="button blue-button button-small button-left">DC/Northern Virginia</a><a href="#" class="button blue-button button-small button-right">User Experience</a>
            </div>
            
            <div class="span-4 last">
                <ul class="menu rounded">
                    <li class="addthis_toolbox hide"><a href="#" class="">Email/Share</a>
                        <ul class="rounded-bl rounded-br vertical">
                            <li><div class="shorturl"><input spellcheck="false" value="http://opower.jobs/<%- job.id %>" style="width: 180px;"/></div></li>
                            <li><a class="addthis_button_email" addthis:url="http://opower.jobs/<%- job.id %>" addthis:title="OPOWER Job: <%- job.title %>">Email</a></li>
                            <li><a class="addthis_button_print">Print</a></li>
                            <li><a class="addthis_button_twitter" addthis:url="http://opower.jobs/<%- job.id %>" addthis:title="OPOWER Job: <%- job.title %>">Twitter</a></li>
                            <li><a class="addthis_button_facebook">Facebook</a></li>
                            <li><a class="addthis_button_linkedin" addthis:url="http://opower.jobs/<%- job.id %>" addthis:title="OPOWER Job: <%- job.title %>">LinkedIn</a></li>
                            <li><a class="addthis_button_reddit" addthis:title="OPOWER Job: <%- job.title %>">Reddit</a></li>
                            <li><a href="http://www.addthis.com/bookmark.php?v=250&amp;username=opower" class="addthis_button_expanded" addthis:url="http://opower.jobs/<%- job.id %>" addthis:title="OPOWER Job: <%- job.title %>">More</a></li>
                        </ul>
                    </li>
                    <li><a href="#" title="New openings">New openings</a></li>
                    <li><a href="#" title="Hot positions">Hot positions</a></li>
                </ul>
                
            </div>
            
        </div>
        
        <div class="span-17 last">
            <div class="company">
                <strong>About the Company</strong>
                <p>Founded in June 2007, OPOWER creates innovative software products that promote energy efficiency by empowering residential consumers to make better decisions on their energy usage. Through a combination of home energy reports, carbon calculators, web applications, data analytics, and customer service tools, OPOWER is reshaping the outlook on home energy demand and achieving unprecedented energy savings across hundreds of thousands of households. &nbsp;The company is well funded and making big headlines as they stay on track to reach two million households by the end of 2010 and save enough energy to power a city of 150,000 residents!</p>    
            </div>
        </div>


        <div class="span-17 first last">
            
            <div class="disclaimer">
                <p>OPOWER is an Equal Opportunity Employer</p>
                <p>VISAS/TRANSFER SPONSORSHIP AVAILABLE WHEN APPLICABLE.</p>
                <p>NO PHONE CALLS, PLEASE. THE FASTEST WAY TO GET A RESPONSE IS BY APPLYING ONLINE. (IF YOU CALL THEN WE ARE JUST GOING TO SEND YOU TO THIS SITE).</p>
                <p>NO EXTERNAL RECRUITERS.</p>
            </div>
            
        </div>


    </div>

</div>