<% /*
    A single full job listing
    http://localhost:3000/dc-northern-virgina/business-development/proposal-writer
    http://localhost:3000/proposal-writer <- shortcut
    http://localhost:3000/jobviteID <- even shorter
*/ %>

<div class="job">


    <div class="content">
        <div class="span-17 first last">
            <div class="banner">
                <div class="title strong span-17 last">
                    <%= job.title %>

                    <%- '(' + Constants.short(job.location) + ')' %>
                </div>
                <div class="location">
                    <a href="<%- href(job.url.team) %>">&laquo; Back to <%- job.team %> jobs</a>
                </div>
            </div>
        </div>

        <div class="span-17 last">            
            <div class="inline rounded clearfix">
                <div class="span-9">
                    <strong>Is your resume ready?</strong><br />
                    This is the best way to start a conversation with us.
                </div>
                <div class="span-6 push-1 last">
                    <a class="apply-now button orange-button" href="<%= job.url.apply %>">Apply now</a>                    
                </div>
            </div>
        </div>

        <div class="span-17 first last">

            <div class="description">
                
                <h4>
                    <span class="highlight">
                    <%- job.description[0].title %>
                    </span>
                </h4>

                <%- job.description[0].p %>



                

                <% if (job.description[1]) { %>
                <h4>
                    <span class="highlight">
                    <%- job.description[1].title %>
                    </span>
                </h4>

                <%- job.description[1].p %>
                <% } %>


                <% if (job.description[2]) { %>
                <h4>
                    <span class="highlight">
                    <%- job.description[2].title %>
                    </span>
                </h4>
                <%- job.description[2].p %>
                <% } %>

            </div>

        </div>


        <div class="span-17 first last flag clearfix">
            
            <div class="span-13 first">
                <h5>Find other jobs in:</h5>
                <a href="<%- href(Constants.url(job.location)) %>" class="button blue-button button-small button-left"><%- Constants.short(job.location) %></a><a href="<%- href(job.url.team) %>" class="button blue-button button-small button-right"><%= Constants.short(job.team) || job.team %></a>
            </div>
            
            <div class="span-4 last">
                <h5>Share the job:</h5>
                 <div class="shorturl"><input spellcheck="false" value="http://opower.jobs/<%- job.id %>" /></div>
            </div>
            
        </div>
        
        <div class="span-17 last">
            <div class="company">
                <strong>About the Company</strong>
                <p>Do you want to help change the world?</p>
                <p>In 2008, Business Week named us one of the "Fifty Tech Startups You Should Know." More recently, we were selected as a Technology Pioneer by the World Economic Forum in Davos, Switzerland, for creating "innovations that will have a critical impact on the future of business and society."</p>
                <p>Founded in 2007, OPOWER is an industry-leading energy efficiency and smart-grid software company. Our  products promote greater energy efficiency by empowering residential customers and small businesses to make better decisions about their daily energy use. With a unique, multi-channel customer engagement approach, OPOWER is reshaping the way we see and understand energy consumption, and helping utility clients achieve unprecedented energy savings in millions of households.</p>
                <p>Our team is made up of software engineers, product specialists, behavioral scientists, statisticians, direct marketing experts, and efficiency advocates. We’re working with more than 35 utilities—including 7 of America’s 10 largest— to reduce energy consumption and help people across the nation save on their energy bills. By next year, our energy savings will equal a third of the power produced by the entire US solar industry.</p>
            </div>
        </div>


        <div class="span-17 first last">
            
            <div class="disclaimer">
                <p>OPOWER is an Equal Opportunity Employer</p>
                <p>VISAS/TRANSFER SPONSORSHIP AVAILABLE WHEN APPLICABLE.</p>
                <p>NO PHONE CALLS, PLEASE. THE FASTEST WAY TO GET A RESPONSE IS BY APPLYING ONLINE. (IF YOU CALL THEN WE ARE JUST GOING TO SEND YOU TO THIS SITE).</p>
                <p>NO EXTERNAL RECRUITERS.</p>
            </div>
            
        </div>


    </div>

</div>
<% /*
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=opower"></script>
*/ %>        