<% /*
    Navigation parent items.
    The logic for current/active page needs to be re-written.
*/ %>

<% if (!page.noMenu) { %>
<li>
    <a href="/<%= page.url %>"
       class="<%= page.id == currentPageID ? "active " : "" %><%= firstInCollection ? "rounded-tl rounded-tr" : "" %><%= lastInCollection ? "rounded-bl rounded-br" : "" %>">
           <%= page.label %>
    </a>

    <% if (page.children && page.children.length) { %>
        <ul class="subnavigation">
            <%- partial("navigation/subnav", { collection: page.children, as: "page", locals: { currentPageID: currentPageID }} ) %>
        </ul>
    <% } %>
</li>
<% } %>