<% /*
    Navigation sub-items which are actually selectable.
    The logic for current/active page needs to be re-written.
*/ %>
        
<li class="subnav">
    <a href="<%= href(page.url) %>" class="<%= page.id == currentPageID ? "active " : "" %><%= firstInCollection ? "rounded-tl rounded-tr" : "" %><%= lastInCollection ? "rounded-bl rounded-br" : "" %>">
        <%= page.label %>
    </a>
</li>
